# For running with docker (comment the above - as it is for local)
POSTGRESQL_DB_NAME=...  # same as POSTGRES_DB var from compose.yaml
POSTGRESQL_PORT=...     # same as exposed port from compose.yaml
POSTGRESQL_HOST=...     # same as service name from compose.yaml
POSTGRESQL_PWD=...      # same as POSTGRES_PASSWORD from compose.yaml

# USE ONLY when run from docker
OLLAMA_BASE_URL=http://host.docker.internal:11434

# jwt secret key
JWT_SECRET_KEY=...

# llm provider either ollama or openai
LLM_PROVIDER=...

# if LLM_PROVIDER is openai
OPENAI_API_KEY=...
OPENAI_MODEL=...
OPENAI_EMBEDDING_MODEL=...

# if LLM_PROVIDER is ollama
OLLAMA_MODEL=...
OLLAMA_EMBEDDING_MODEL=...